<div id="header">
  <div id="hero">
    <h1><%= link_to 'SuperForum', '/' %></h1>
  </div>
  <% if current_user.nil? %>
    <%= render 'shared/header_guest' %>
  <% else %>
    <%= render 'shared/header_member' %>
  <% end %>
</div>
