<div class="right">
  <%= link_to 'Beranda', '/' %>
  |
  <%= link_to "Edit Profil", edit_user_registration_path %>
  |
  <%= link_to "Keluar", destroy_user_session_path, :method => :delete %>
</div>
<div class="left">
  Halo, <%= current_user.email %>
</div>
