<div class="right">
  <%= link_to 'Beranda', '/' %>
  |
  <%= link_to "Daftar", new_user_registration_path %>
  |
  <%= link_to "Masuk", new_user_session_path %>
</div>
<div class="left">
  Halo, pengunjung!
</div>
