body {
  background: #cacaca;
}

#header {
  width: 800px;
  margin: 0 auto;
  padding: 10px 50px 10px 50px;
  background: black;
  color: white;

  a, a:link, a:visited {
    color: white;
  }

  .right {
    float: right;
    clear: both;
  }
}

#content {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 50px;
}

.post-container {
  border: 1px solid #cacaca;
  margin-bottom: 15px;
  & > * {
    padding: 15px;
  }

  .infobar {
    background: #dadada;
  }
}
