<%= form_with(model: forum_thread, local: true) do |form| %>
  <% if forum_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forum_thread.errors.count, "error") %> prohibited this forum_thread from being saved:</h2>

      <ul>
      <% forum_thread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :forum_thread_title %>
  </div>

  <%= form.fields_for :posts do |post_form| %>
    <div class="field">
      <div class="field">
        <%= post_form.label :content %>
        <%= post_form.text_area :content, id: :post_content %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
