<p id="notice"><%= notice %></p>

<h1>Forum Threads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Jumlah Balasan</th>
      <th>Thread Starter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_threads.each do |forum_thread| %>
      <tr>
        <td><%= link_to forum_thread.title, forum_thread %></td>
        <td><%= forum_thread.posts.count %></td>
        <td><%= user_of forum_thread %>
        <td><%= link_to 'Show', forum_thread %></td>
        <td><%= link_to 'Edit', edit_forum_thread_path(forum_thread) %></td>
        <td><%= link_to 'Destroy', forum_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <%= link_to 'New Forum Thread', new_forum_thread_path %>
<% end %>
