<p id="notice"><%= notice %></p>

<p>
  <h1>
    <%= @forum_thread.title %>
  </h1>
</p>

<% @forum_thread.posts.each do |post| %>
  <div class="post-container">
    <div class="post">
      <%= post.content %>
    </div>

    <div class="infobar">
      <strong>
        <%= user_of post %>
      </strong>
      pada
      <span title="<%= post.created_at.iso8601 %>">
        <%= time_ago_in_words(post.created_at) %>
      </span>
      yang lalu
    </div>
  </div>
<% end %>

<%= link_to 'Reply', new_forum_thread_post_path(@forum_thread) %>
<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %>
<%= link_to 'Back', forum_threads_path %>
